@font-face{
    font-family: digital-7;
    src: url(fonts/digital-7.ttf);
}

body {
    color: #050505;
    font-family: digital-7;
    text-align: center;  
    background-color: #ac9393;
    background-image: url(../images/clock.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 300px;
}
div{
    min-width: 20%;
    max-width: 100%;
    margin: 100px auto;
}

#heading{
    margin-top: 125px;
    text-decoration: underline;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

#timer{
    font-size: 8 em;
}

#start {
  margin: 50px auto;
  text-align: center;
  color: #DAD6D6;
  background: #4b8a2c;
  border:solid 2px #213318;
  border-radius:5px;
  padding:16px 40px 16px;
  letter-spacing: 2px;
  cursor:pointer;
}

#stop {
  margin: 50px 5px auto;
  text-align: center;
  color: #DAD6D6;
  background: #a71a1a;
  border:solid 2px #590F20;
  border-radius:5px;
  padding:16px 40px 16px;
  letter-spacing: 2px;
  cursor:pointer;
}

#reset {
  margin: 50px auto;
  text-align: center;
  color: #1f1c1c;
  background: #c5bdc7;
  border:solid 2px #3E383F;
  border-radius:5px;
  padding:16px 40px 16px;
  letter-spacing: 2px;
  cursor:pointer;
}

h2
{
  font-size: 46px;
  letter-spacing: 2px;
  margin: 200px 0 0 ;
}